<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- remember to route relative to index.php  -->
        <script type="text/javascript" src="./assets/js/homepage.js"></script>
        <title>My Homepage</title>
    <link rel="stylesheet" href="/assets/styles/homepage.css">
</head>
<body>
    <div class="content">
        <!-- Add a link to usersView.html -->
        <a href="/assets/views/users/usersView.html">
            <h1>Come sign in to my Homepage!</h1>
        </a>
    </div>
</body>
</html>